services:
  api: &main_app
    ports:
      - "127.0.0.1:8000:8000"
    container_name: yet_another_calendar-api
    image: ghcr.io/azamatkomaev/yet_another_calendar_backend:${YET_ANOTHER_CALENDAR_VERSION:-latest}
    restart: always
    volumes:
      - ./backend:/app/src/
    env_file:
      - backend/.env
    depends_on:
      redis:
        condition: service_healthy
    environment:
      YET_ANOTHER_CALENDAR_HOST: 0.0.0.0
      YET_ANOTHER_CALENDAR_REDIS_HOST: yet_another_calendar-redis
      LOGURU_DIAGNOSE: "False"

  redis:
    image: redis:latest
    hostname: "yet_another_calendar-redis"
    restart: always
    volumes:
      - redis_data:/data
    environment:
      ALLOW_EMPTY_PASSWORD: "yes"
    healthcheck:
      test: redis-cli ping
      interval: 1s
      timeout: 3s
      retries: 50

  frontend:
    image: ghcr.io/azamatkomaev/yet_another_calendar_frontend:${YET_ANOTHER_CALENDAR_VERSION:-latest}
    build:
      context: ./frontend
      target: prod-run
    container_name: yet_another_calendar-frontend
    env_file:
      - frontend/.env
    restart: always
    volumes:
      - ./frontend/src:/app/src
    ports:
      - "127.0.0.1:3000:80"

volumes:
  redis_data:
