.deadline {
    &-info {
        //height: 28px;
        margin-top: 6px;
        //width: 95%;
        text-align: left;
        padding: 5px 11px;
        border: none;
        background: #F46386;
        border-radius: 6px;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 13px;
        transition: color 0.3s linear;
        &:hover {
            cursor: pointer;
            color: #F46386;
            background-color: #fff;
            border: 2px solid #F46386;
        }
    }
    &-info-on {
        height: 28px;
        margin-top: 4px;
        width: 95%;
        text-align: left;
        padding: 5px 11px;
        color: #F46386;
        background-color: #fff;
        border: 2px solid #F46386;
        border-radius: 6px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 13px;
        transition: color 0.3s linear;
        &:hover {
            cursor: pointer;
            color: #fff;
            background-color: #F46386;
            border: none;
        }
    }
}

.shedule-table {
    width: 100%;
    margin-top: 36px;
    border-spacing: 1px;
}

.days {
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 13px;
    border: 1px;

    &-row {
      border-bottom: 1px dotted #adadad;
    }

    &.prev {
        color: #adadad;
    }
    &.now {
      color: #7b61ff;
    }
    &.next {
        color: #333333;
    }
}

.vertical-deadline {
    vertical-align: top;
    height: 72px;
    width: 195px;
    padding-left: 20px;
    border-bottom: 1px dotted #adadad;
    &-heading {
        padding-left: 47px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-size: 12px;
        width: 0;
        border-bottom: 1px dotted #adadad;
        &::first-line {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 13px;
        }
    }
}

.vertical   {
    height: 72px;
    width: 195px;
    padding-left: 20px;
    border-bottom: 1px dotted #adadad;
    &-heading {
        padding-left: 47px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-size: 12px;
        width: 0;
        border-bottom: 1px dotted #adadad;
        &::first-line {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 13px;
        }
    }
}

.off-deadline {
    margin-top: 7px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #7b61ff;
    background: none;
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid #7b61ff;
    transition: color 0.3s linear;
    &:hover {
        cursor: pointer;
        background-color: #5856d6;
        color: #fff;
    }
}

.past-lesson {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 12px;
    text-align: left;
    width: 95%;
    height: 95%;
    background: #ECEDF0;
    border: none;
    border-radius: 6px;
    &:hover {
        cursor: pointer;
    }
}

.company-name {
    vertical-align: top;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #7B61FF;
}

.lesson-name {
    vertical-align: top;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #2C2D2E;
}

.netology-lesson {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 12px;
    text-align: left;
    width: 95%;
    height: 95%;
    background: #00A8A833;
    border: none;
    border-radius: 6px;
    &:hover {
        cursor: pointer;
    }
}

.TyumGU-lesson {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12px;
    text-align: left;
    //width: 95%;
    height: 95%;
    background: #7B61FF33;
    border: none;
    border-radius: 6px;
    &:hover {
        cursor: pointer;
    }
}

.vertical-line {
    margin-top: 17px;
    margin-left: 365px;
    position: absolute;
    border-left: 2px solid #7B61FF;
    height: 590px;
}
