.tutor-login {
  &__logo {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #7b61ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    font-weight: 500;
  }

  &__title {
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 30px;
  }

  &__container {
    display: flex;
    align-items: center;
    margin-left: 70px;
    flex-direction: column;
    margin-top: 60px;
  }

  &__form {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    max-width: 320px;
    width: 100%;
    margin: 24px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    text-align: left;
  }

  &__logo-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }

  &__input {
    display: block;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d9d9d9;
    margin-top: 16px;
    padding: 8px;
    width: 320px;
    height: 32px;
    border-radius: 4px;

    &:focus {
      border-color: #7b61ff;
      outline: none;
    }
  }

  &__button {
    width: 100px;
    position: relative;
    cursor: pointer;
    border: none;
    margin: 24px auto;
    background-color: #7b61ff;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    transition: color 0.2s linear;

    &:hover {
      background-color: #4745b5;
    }

    &:disabled {
      background-color: #d9d9d9;
      cursor: not-allowed;

      &:hover {
        background-color: #d9d9d9;
      }
    }
  }

  &__input-container {
    display: flex;
    flex-direction: column;
  }

  &__password-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 16px;
  }

  &__input {
    margin-top: 0;
  }

  &__toggle-password {
    background: #7b61ff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    height: 32px;
    min-width: 32px;

    &:hover {
      background-color: #5856d6;
    }

    &:focus {
      outline: 2px solid #7b61ff;
      outline-offset: 2px;
    }
  }
}