@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200..900&display=swap");
html {
    height: 100%;
}

body {
    height: 100%;
    background: #fff;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.wrapper {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 20px 120px;
}

header .raspisanie {
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 32px;
}
header .export-btn {
    cursor: pointer;
    position: absolute;
    margin-top: 6px;
    width: 90px;
    height: 28px;
    background-color: #5856d6;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    padding: 4px 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 18px;
    transition: color 0.2s linear;
}
header .export-btn:hover {
    background-color: #4745b5;
}

header .login-btn {
    cursor: pointer;
    float: right;
    border: none;
    margin-top: 6px;
    background-color: #5856d6;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    transition: color 0.2s linear;
}

header .login-btn:hover {
    background-color: #4745b5;
}

.input-email {
    margin-top: 8px;
    width: 320px;
    height: 32px;
    border-radius: 4px;
    border-color: #d9d9d9;
}

.login-btn-log {
    margin-top: 8px;
    width: 100px;
    position: relative;
    cursor: pointer;
    border: none;
    margin-top: 6px;
    background-color: #5856d6;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    transition: color 0.2s linear;
}
.login-btn-log:hover {
    background-color: #4745b5;
}

.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-netologiya {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calendar {
    background-color: #ecedf0;
    width: 406px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid rgba(217, 217, 217, 0.5);
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding-left: 14px;
    transition: color 0.2s linear;
}
.calendar:hover {
    background-color: #e7e7ea;
}
