@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

html {
    height: 100%;
}

body {
    height: 100%;
    background: #fff;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.wrapper {
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;
}

.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.raspisanie-export {
    display: flex;
    align-items: center;
}

header .raspisanie {
    margin-left: 120px;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 32px;
}
header .export-btn {
    cursor: pointer;
    width: 90px;
    height: 28px;
    background-color: #5856d6;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    padding: 4px 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 18px;
    transition: color 0.2s linear;
}

header .export-btn:hover {
    background-color: #4745b5;
}

header .login-btn {
    margin-right: 120px;
    cursor: pointer;
    border: none;
    background-color: #5856d6;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    transition: color 0.2s linear;
}

header .login-btn:hover {
    background-color: #4745b5;
}

.input-name {
    margin-top: 8px;
    width: 320px;
    height: 32px;
    border-radius: 4px;
    border-color: #d9d9d9;
}

.input-email {
    margin-top: 8px;
    width: 320px;
    height: 32px;
    border-radius: 4px;
    border-color: #d9d9d9;
}

.login-btn-log {
    width: 100px;
    position: relative;
    cursor: pointer;
    border: none;
    margin: 6px auto;
    background-color: #5856d6;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    transition: color 0.2s linear;
}
.login-btn-log:hover {
    background-color: #4745b5;
}

.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-netologiya, .login-fio {
    max-width: 320px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.calendar {
    position: absolute;
    top: 165px;
    right: 248px;
    background-color: #ecedf0;
    width: 406px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid rgba(217, 217, 217, 0.5);
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding-left: 14px;
    transition: color 0.2s linear;
}
.calendar:hover {
    background-color: #e7e7ea;
}

.raspisanie-table {
    width: 100%;
    margin-top: 170px;
    border-spacing: 1px;
}
.days {
    padding-left: 30px;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 13px;
    border: 1px;
    border-bottom: 1px dotted #adadad;
}
.vertical {
    text-align: center;
    border-bottom: 1px dotted #adadad;
}
.vertical-zagolovok {
    padding-left: 47px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 12px;
    width: 0;
    border-bottom: 1px dotted #adadad;
}

.vertical-zagolovok::first-line {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.off-deadline {
    margin-top: 7px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #7b61ff;
    background: none;
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid #7b61ff;
    transition: color 0.3s linear;
}
.off-deadline:hover {
    cursor: pointer;
    background-color: #5856d6;
    color: #fff;
}

.error-message {
  color: red;
  margin-top: 10px;
}
